<app-banner src="assets/Imagens/bannermorty.jpg" alt="Banner principal da aplicação"></app-banner>
<app-container>
  <h2>Consumindo a API Ricky e Morty</h2>
  <app-form-busca></app-form-busca>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Desenvolvedores</h2>
  <div class="card-wrapper">
    <app-card-depoimento></app-card-depoimento>

  </div>
</app-container>
