.app-header {

  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: #90EE90;
    color: #000000;
    padding: 0 264px;
  }

  .mat.mdc-outline-button:not(:disabled) {
    border-color: white;
  }
}


